html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $bg-light;
  color: $text;
  margin: 1rem;
  font-family: $fonts;
}

a {
  text-decoration: none;
  color: $text;
  &:hover {
    text-decoration: underline;
  }
}

button {
  background-color: $dark;
  padding: 0.5rem 1.5rem;
  color: white;
  font-size: 1rem;
  border: #888 1px solid;
  border-radius: $radius;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

ul {
  padding: 0;
}
