@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #c6cc87;
  color: #111;
  margin: 1rem;
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #111;
}
a:hover {
  text-decoration: underline;
}

button {
  background-color: #7695b3;
  padding: 0.5rem 1.5rem;
  color: white;
  font-size: 1rem;
  border: #888 1px solid;
  border-radius: 0.25rem;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

ul {
  padding: 0;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#modal {
  background-color: rgba(51, 51, 51, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 20rem;
  padding: 1rem;
  border-radius: 0.25rem;
  text-align: center;
}

#modal .buttons button {
  display: inline-block;
  margin-right: 1rem;
}

header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  max-width: 32rem;
  padding: 1rem;
  padding-left: 0;
}
header a {
  color: #111;
  display: inline-block;
}
header a:hover {
  text-decoration: underline;
}
header a.logo {
  background-image: url("dicon.svg");
  background-repeat: no-repeat;
  color: #111;
  padding-left: 3.5rem;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 0.5rem;
}
header a.logo:hover {
  text-decoration: none;
}

.searchbox {
  max-width: 32rem;
  background-color: #8e9167;
}
.searchbox form {
  background-color: #8e9167;
  width: 100%;
  margin: 0px 2rem 0px 0px;
  padding: 2rem;
  border-radius: 0.25rem;
}
@media (min-width: 46.25em) {
  .searchbox form {
    margin-bottom: 2rem;
  }
}
.searchbox label {
  display: block;
  width: 90%;
}
.searchbox input,
.searchbox select {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  height: 2rem;
  width: 94%;
}
.searchbox button:hover {
  background-color: #7695b3;
}
.searchbox button:active {
  background-color: #7695b3;
}
.searchbox button:focus {
  border: 1px solid #fff;
}
.searchbox button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: rgba(51, 51, 51, 0.1);
}

.results {
  background-color: #8e9167;
  max-width: 32rem;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.results ul {
  list-style: none;
}

.readme {
  background-color: #d9c148;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 0.875rem;
}
.readme h1 {
  margin: 0;
}
.readme h1 ~ ul {
  padding: 0.25rem 1rem;
  list-style: none;
}
.readme h1 ~ ul ul {
  padding: 0 1rem;
  list-style: none;
}
.readme a {
  color: #007eb6;
}
.readme code {
  font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
  font-size: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.results h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
